[Desktop Entry]
Type=Application
Exec=/home/tobigiwa/go/bin/smDaemon restart
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=smDaemon
Name=smDaemon
Comment[en_US]=ME...
Comment=ME...
