[Desktop Entry]
Type=Application
Exec=/home/tobigiwa/go/bin/trayIcon
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=smDesktop
Name=smDesktop
Comment[en_US]=ME...
Comment=ME...
