:root {
    box-sizing: border-box;
    --primary-color1: #198686;
    --primary-color2: #303030;
    --black-color: black;
    --white-color: white;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    font-style: system-ui, sans-serif;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
    padding: 10px 10px;
    line-height: initial;

    &:focus {
        background-color: var(--primary-color1);
        transition: background-color 0.2s ease-in;
        transform: scale(0.9);
    }

    &:not(:focus) {
        transition: background-color 0.2s ease-out;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        transform: scale(0.9);
    }

    &:hover:focus {
        background-color: var(--primary-color1);
    }
}

.icon {
    width: 50px;
    height: 40px;
    margin-right: 8px;
}


.page {
    display: inline-flex;
    width: 100%;
}

.menu {
    padding-top: 3.5rem;
    width: 20rem;
    min-height: 100%;
    background-color: var(--primary-color2);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .hold-animation {
        background-color: var(--primary-color2);
        flex: 0 0 4rem;
        padding: 0 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 10px;
            right: 10px;
            border-bottom: 1px solid rgb(194, 179, 179);
            width: calc(100% - 30px);
        }
    }

    .wrap-animation {
        background-color: var(--black-color);
        width: 80%;
        border-radius: 10%;

        #lottie-animation {
            width: 100%;
            height: 100%;
        }
    }

    .quote-animation {
        padding: 25px;
        text-align: center;

        & p {
            color: var(--white-color);
        }
    }

    .hidden,
    .narrow {
        display: none;
    }

    .menu-items {
        flex: 1;
        display: flex;
        flex-direction: column;


        & ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .icon {
            width: 50px;
            height: 35px;
            margin-right: 8px;
        }

        & a {
            text-decoration: none;
            font-size: larger;
            font-weight: bold;
            font-style: italic;
            color: var(--white-color);
            padding: 15px 15px;
            line-height: initial;
            outline: none;
            border-radius: 5px;
            display: flex;
            align-items: center;
            text-align: center;


            &:focus {
                color: var(--black-color);
                background-color: var(--primary-color1);
                transition: background-color 0.2s ease-in;
                transform: scale(0.9);
            }

            &:not(:focus) {
                transition: background-color 0.2s ease-out;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
                transform: scale(0.9);
            }

            &:hover:focus {
                background-color: var(--primary-color1);
            }
        }
    }

    @media (max-width: 700px) {

        flex: 1;

        .hidden {
            display: inherit;

            & a {
                width: 100%;
            }
        }
    }

    @media(max-width: 620px) {
        .long-text {
            font-size: medium;
        }
    }

    @media(max-width: 555px) {
        width: fit-content;

        .long-text {
            font-size: small;
        }
    }

    @media(max-width: 550px) {
        flex: 0 0 auto;
        width: fit-content;

        .wide,
        .hidden,
        .hold-animation {
            display: none;
        }

        .narrow {
            display: inherit;
        }
    }
}

.main {
    background-color: var(--primary-color2);
    width: 100%;

    .header {
        height: 4rem;
        background-color: #363636;
        display: flex;
        justify-content: space-between;

        & pre {
            margin-right: auto;
            padding: 0%;
            color: var(--white-color);
        }
    }
}