:root {
    box-sizing: border-box;
    --primary-color1: #198686;
    --primary-color2: #303030;
    --black-color: black;
    --white-color: white;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    font-style: system-ui, sans-serif;
}

.page {
    border: 4px groove var(--black-color);
    height: 100vh;
    display: grid;
    grid-template-columns: 15rem 1fr;

    @media (max-width: 700px) {
        grid-template-columns: 0.5fr 1fr;
    }

    @media (max-width: 550px) {
        display: flex;
    }
}

.menu {
    padding-top: 3.5rem;
    background-color: var(--primary-color2);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .hold-animation {
        background-color: var(--primary-color2);
        flex: 0 0 4rem;
        padding: 0 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 10px;
            right: 10px;
            border-bottom: 1px solid rgb(194, 179, 179);
            width: calc(100% - 30px);
        }
    }

    .wrap-animation {
        background-color: var(--black-color);
        width: 70%;
        border-radius: 10%;

        #lottie-animation {
            width: 100%;
            height: 100%;
        }
    }

    .quote-animation {
        padding: 25px;
        text-align: center;

        & p {
            color: var(--white-color);
        }
    }

    .hidden,
    .narrow {
        display: none;
    }

    .menu-items {
        flex: 1;
        display: flex;
        flex-direction: column;


        & ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .icon {
            width: 50px;
            height: 35px;
            margin-right: 8px;
        }

        & a {
            text-decoration: none;
            font-size: larger;
            font-weight: bold;
            font-style: italic;
            color: var(--white-color);
            display: block;
            padding: 15px 15px;
            line-height: initial;
            outline: none;
            border-radius: 5px;

            &:focus {
                color: var(--black-color);
                background-color: var(--primary-color1);
                transition: background-color 0.2s ease-in;
                transform: scale(0.9);
            }

            &:not(:focus) {
                transition: background-color 0.2s ease-out;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
                transform: scale(0.9);
            }

            &:hover:focus {
                background-color: var(--primary-color1);
            }
        }
    }

    @media (max-width: 700px) {
        .hidden {
            display: inherit;

            & a {
                width: 100%;
            }
        }
    }

    @media(max-width: 620px) {
        .long-text {
            font-size: medium;
        }
    }

    @media(max-width: 555px) {
        .long-text {
            font-size: small;
        }
    }

    @media(max-width: 550px) {
        flex: 0 0 auto;

        .wide,
        .hidden,
        .hold-animation {
            display: none;
        }

        .narrow {
            display: inherit;
        }
    }
}

.main {
    background-color: var(--primary-color2);
    display: flex;
    flex-direction: column;

    .header {
        background-color: #363636;
        display: flex;
        height: 3.5rem;
        justify-content: space-between;

        & pre {
            margin-right: auto;
            padding: 0%;
            color: var(--white-color);
        }

        & a {
            text-decoration: none;
            padding: 10px 10px;
            line-height: initial;

            &:focus {
                background-color: var(--primary-color1);
                transition: background-color 0.2s ease-in;
                transform: scale(0.9);
            }

            &:not(:focus) {
                transition: background-color 0.2s ease-out;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
                transform: scale(0.9);
            }

            &:hover:focus {
                background-color: var(--primary-color1);
            }

            .icon {
                width: 50px;
                height: 40px;
                margin-right: 8px;
            }
        }
    }

    .chart-wrapper {
        flex: 1;
        padding: 20px;
        background-color: var(--black-color);
        border-radius: 2%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;

        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        #echart {
            width: 100% !important;
            height: auto !important;
            background-color: var(--white-color);
            border-radius: 5px;
        }
    }

    .chart-controls {
        display: flex;
        height: 2.2rem;
        background-color: var(--primary-color1);

        .left-controls {
            flex: 0 0 1;
            justify-content: flex-start;
            background-color: var(--black-color);
            display: flex;
            border-top-right-radius: 0%;
            border-bottom-right-radius: 10px;

            .chart__controls--img {
                width: 35px;
            }

            .select-month {
                font-size: larger;
                /* font-style: normal; */

                & select {
                    height: 100%;
                    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
                    font-size: 1rem;
                    padding: 0 1em;
                    background-color: var(--primary-color2);
                    color: white;
                    border: 0;
                    width: 100%;

                    #placeholder {
                        font-size: smaller;
                        font-style: italic;
                    }
                }
            }
        }

        .right-controls {
            flex: 0 0 1;
            justify-content: flex-end;
            display: flex;
            background-color: var(--black-color);
            border-bottom-left-radius: 10px;

        }

        .spacing {
            flex: 5;
            background-color: var(--primary-color1);
        }

        .left-controls-button,
        .right-controls-button {
            border-radius: 5px;
            background-color: var(--primary-color2);
            color: var(--white-color);
        }

        .text:hover,
        .img:hover {
            border-radius: 5px;
            transform: scale(1.1);
        }
    }

    .chart-highlight {
        flex: 1;
        background-color: var(--primary-color1);
        border-radius: 2%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    @media (max-width: 700px) {
        .header-btn {
            display: none;
        }

        .left-controls-button.text {
            display: none;
        }
    }

    @media(max-width: 550px) {
        flex: 1;

    }
}