.chart-wrapper {
    /* height: 30rem; set by the chart in the backend */
    position: relative;

    #echart {
        width: 99%;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }

    .appIcon {
        position: absolute;
        left: 1.2%;
        top: 1.5%;
        width: 20px;
        height: 20px;
    }
}

.chart-controls {
    height: 3rem;
    display: flex;

    .left-controls {
        flex: 0 0 1;
        justify-content: flex-start;
        background-color: var(--black-color);
        display: flex;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 10px;

        .chart__controls--img {
            width: 35px;
        }

        .select-month {
            & select {
                height: 100%;
                box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
                padding: 0 1em;
                background-color: var(--primary-color2);
                color: white;
                border: 0;
                width: 100%;
                outline: none;
            }
        }
    }

    .right-controls {
        flex: 0 0 1;
        justify-content: flex-end;
        display: flex;
        background-color: var(--black-color);
        border-bottom-left-radius: 10px;

    }

    .spacing {
        flex: 5;
        background-color: var(--black-color);
    }

    .left-controls__btn,
    .right-controls__btn {
        border-radius: 5px;
        font-weight: bold;
        background-color: var(--primary-color2);
        color: var(--white-color);
    }

    .text:hover,
    .img:hover {
        border-radius: 5px;
        transform: scale(1.1);
    }
}

.chart-highlight {
    max-height: calc(100vh - 37rem);
    min-height: auto;
    overflow-y: auto;
    background-color: #353535;
    border-radius: 2%;

    & ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 99.7%;

        .card {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: #303030;
            outline: none;


            color: var(--white-color);
            border-radius: 10px;
            padding-right: 5px;
            margin-bottom: 5px;


            .app-icon {
                height: 3rem;
                border-radius: 5px;
            }

            .info {
                display: flex;
                flex-direction: column;
                margin-left: 1rem;
            }

            .appStat {
                margin-left: auto;
            }

            &:focus {
                color: var(--black-color);
                background-color: var(--primary-color1);
                transition: background-color 0.2s ease-in;
                transform: scale(0.9);
            }

        }
    }
}

@media (max-width: 700px) {

    .header-btn {
        display: none;
    }

    .left-controls-button.text {
        display: none;
    }
}

.select-category {
    background-color: #554f4f;
    color: white;
    min-width: min-content;


    .desktop-categories {
        background-color: rgb(20, 19, 19);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 1rem;
    }

    .head {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        padding: 5px;
    }

    p {
        margin: 0;
    }

    p[class="space"] {
        margin: 10px 0;
        text-align: center;
        font-size: larger;
        font-weight: bolder;
    }

    p[class="info"] {
        margin: 10px 0;
        background-color: rgb(128, 115, 99);
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        font-style: italic;
        font-weight: lighter;
    }


    label {
        font-style: italic;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        padding: 3px 5px;
    }

    button {
        padding: 10px;
        font-size: 1rem;
        background-color: #161d1d;
        color: white;
        border: none;
        border-radius: 5px;
    }

    img {
        height: 1rem;
        width: 1rem;
    }
}

::backdrop {
    background-image: linear-gradient(45deg,
            magenta,
            rebeccapurple,
            dodgerblue,
            green);
    opacity: 0.75;
}