package frontend

templ header() {
	<div class="h-16 inline-flex w-full bg-zinc-800 justify-between gap-4 text-white">
		<pre id="ascii-art" class="mr-auto">
			{ getRandomArt() }
		</pre>
		<a href="#">
			<img src="assets/svg/no_5_settings.svg" alt="" class="w-16 h-12 mr-2 pt-4 scTwo:hidden"/>
		</a>
		<a href="#">
			<img src="assets/svg/no_6_logout.svg" alt="" class="w-16 h-12 mr-2  scTwo:hidden"/>
		</a>
	</div>
}
