package frontend

templ sideBarMenu() {
	<div class="flex flex-col gap-4 bg-zinc-800 min-h-full w-80 pt-14 max550:w-fit">
		@animation()
		@menuItems()
	</div>
}

templ animation() {
	<div class="bg-zinc-800 flex flex-col items-center px-2.5 relative basis-16 max550:hidden after:contents-[''] after:absolute after:bottom-0 after:left-2.5 after:right-2.5 after:border-b after:border-solid after:border-white w-white-line">
		<div class="bg-black w-4/5 rounded-lg">
			<div class="w-full h-full" id="lottie-animation"></div>
		</div>
		<div class="p-6 text-center">
			<p class="text-white">'If You Can't Measure It, You Can't Manage It'</p>
		</div>
		<script src="assets/libraries/lottie.min.js"></script>
		<script type="text/javascript">
		document.addEventListener( 'DOMContentLoaded', function ()
		{
			lottie.loadAnimation( {
				container: document.getElementById( 'lottie-animation' ),
				renderer: 'svg',
				loop: true,
				autoplay: true,
				path: "assets/animation/Animation - 1712666371830.json"
			} );
		} );
		</script>
	</div>
}

templ menuItems() {
	<div class="flex flex-col grow shrink">
		<nav>
			<ul class="p-0 flex flex-col gap-5 list-none">
				<li class="links max550:hidden">
					<a href="/screentime" tabindex="0" class="font-bold italic text-lg text-white p-3.5 outline-none rounded-md flex text-center items-center focus:bg-teal-800">
						<img src="assets/svg/no_1.svg" class="w-12 h-9 mr-2"/>
						Screentime
					</a>
				</li>
				<li title="Screentime" class="links max550:flex hidden">
					<a href="#" tabindex="0" class="font-bold italic text-lg text-white p-3.5 outline-none rounded-md flex text-center items-center focus:bg-teal-800">
						<img src="assets/svg/no_1.svg" class="w-12 h-9 mr-2"/>
					</a>
				</li>
				<li class="links max550:hidden">
					<a href="#" tabindex="0" class="font-bold italic text-lg text-white p-3.5 outline-none rounded-md flex text-center items-center focus:bg-teal-800 max550:hidden">
						<img src="assets/svg/no_3.svg" class="w-12 h-9 mr-2"/>
						Analytics
					</a>
				</li>
				<li class="links max550:flex hidden" title="Analytics">
					<a href="#" tabindex="0" class="font-bold italic text-lg text-white p-3.5 outline-none rounded-md flex text-center items-center focus:bg-teal-800">
						<img src="assets/svg/no_3.svg" class="w-12 h-9 mr-2"/>
					</a>
				</li>
				<li class="links max550:hidden">
					<a href="/tasks" tabindex="0" class="font-bold italic text-lg text-white p-3.5 outline-none rounded-md flex text-center items-center focus:bg-teal-800 max550:hidden">
						<img src="assets/svg/no_4.svg" class="w-12 h-9 mr-2 align-top"/>
						Tasks
					</a>
				</li>
				<li class="links max550:flex hidden" title="Tasks">
					<a href="#" tabindex="0" class="font-bold italic text-lg text-white p-3.5 outline-none rounded-md flex text-center items-center focus:bg-teal-800">
						<img src="assets/svg/no_4.svg" class="w-12 h-9 mr-2"/>
					</a>
				</li>
				<li class="links max550:hidden">
					<a href="#" tabindex="0" class="font-bold italic text-lg text-white p-3.5 outline-none rounded-md flex text-center items-center focus:bg-teal-800 max550:hidden">
						<img src="assets/svg/no_2.svg" class="w-12 h-9 mr-2"/>
						ToDo
					</a>
				</li>
				<li class="links max550:flex hidden" title="ToDo">
					<a href="#" tabindex="0" class="font-bold italic text-lg text-white p-3.5 outline-none rounded-md flex text-center items-center focus:bg-teal-800">
						<img src="assets/svg/no_2.svg" class="w-12 h-9 mr-2"/>
					</a>
				</li>
				<li class="links hidden max650:flex max550:hidden ">
					<a href="#" tabindex="0" class="font-bold italic text-lg text-white p-3.5 outline-none rounded-md flex text-center items-center focus:bg-teal-800">
						<img src="assets/svg/no_5_settings.svg" class="w-12 h-9 mr-2"/>
						Settings
					</a>
				</li>
				<li class="links hidden max550:flex" title="Settings">
					<a href="#" tabindex="0" class="font-bold italic text-lg text-white p-3.5 outline-none rounded-md flex text-center items-center focus:bg-teal-800">
						<img src="assets/svg/no_5_settings.svg" class="w-12 h-9 mr-2"/>
					</a>
				</li>
				<li class="links hidden max650:flex max550:hidden ">
					<a href="#" tabindex="0" class="font-bold italic text-lg text-white p-3.5 outline-none rounded-md flex text-center items-center focus:bg-teal-800">
						<img src="assets/svg/no_6_logout.svg" class="w-12 h-9 mr-2"/>
						Logout
					</a>
				</li>
				<li class="links hidden max550:flex" title="Logout">
					<a href="#" tabindex="0" class="font-bold italic text-lg text-white p-3.5 outline-none rounded-md flex text-center items-center focus:bg-teal-800">
						<img src="assets/svg/no_6_logout.svg" class="w-12 h-9 mr-2"/>
					</a>
				</li>
			</ul>
		</nav>
		<script>
		document.addEventListener( 'keydown', function ( e )
		{
			const focusedElement = document.activeElement;
			if ( !focusedElement.classList.contains( 'links' ) ) {
				return;
			}

			let toFocus = null;
			switch ( e.key ) {
				case 'ArrowDown':
					console.log('Arrow Down');
					toFocus = focusedElement.parentElement.nextElementSibling;
					if ( toFocus ) toFocus = toFocus.querySelector( '.links' );
					break;
				case 'ArrowUp':
					console.log('Arrow Up');
					toFocus = focusedElement.parentElement.previousElementSibling;
					if ( toFocus ) toFocus = toFocus.querySelector( '.links' );
					break;
			}

			if ( toFocus ) {
				toFocus.focus();
				e.preventDefault();
			}
		} );
		</script>
	</div>
}
