package frontend

import (
	"html/template"
	"reflect"
	"strings"
	utils "utils"
)

templ IndexPage() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/assets/styles/output.css"/>
			<script src="assets/javascript/script.out.js"></script>
			<script src="assets/libraries/htmx.min.js"></script>
			<script src="assets/libraries/echarts.min.js"></script>
			<title>ScreenTimePage</title>
		</head>
		<body>
			<div class="flex w-full">
				@sideBarMenu()
				@screentimeTimePage()
			</div>
		</body>
	</html>
}

templ screentimeTimePage() {
	<div class="w-full bg-zinc-800">
		@header()
		@chartWrapper("", utils.NoAppIconCategoryAndCmdLine)
		@chartControls()
		@chartHighlight(nil, 0, nil, "")
	</div>
}

templ chartWrapper(chart template.HTML, info utils.AppIconCategoryAndCmdLine) {
	<div class="relative">
		<div id="echart" class="bg-white rounded w-99%" hx-swap-oob="true">
			@templ.Raw(chart)
			if !reflect.ValueOf(info).IsZero() {
				if info.IsIconSet {
					<img src={ getImageFilePath(info.AppName, info.Icon) } alt={ info.AppName } class="absolute w-5 h-5 top-1.5 left-1.5"/>
				} else {
					<img src="/assets/image/noAppImage.jpg" alt="noImage" class="absolute w-5 h-5 top-1.5 left-1.5"/>
				}
			}
		</div>
	</div>
}

templ chartControls() {
	<div class="h-12 justify-start flex gap-4 rounded-t-none rounded-r-lg">
		<select
			name="month"
			hx-get="/weekStat?week=month"
			hx-include="[month='this.value']"
			hx-vals="js:{nonce: Math.random()}"
			hx-swap="none"
			hx-select-oob="#echart:innerHTML,#highlight:outerHTML"
			class="h-full bg-zinc-800 text-white rounded-none outline-none py-0 px-4 shadow-zinc-800"
		>
			<option value="" id="placeholder" disabled selected>Last 3 Month</option>
			for _, v := range monthDropDownSelectArray(3) {
				<option class="option" value={ v }>{ v }</option>
			}
		</select>
		<button class="rounded-l bg-zinc-800 text-white font-bold hover:rounded-l hover:scale-110" hx-get="/weekStat?week=backward" hx-vals="js:{nonce: Math.random()}" hx-swap="none" hx-select-oob="#echart:innerHTML,#highlight:outerHTML">
			<img class="w-12" src="assets/svg/angle-left-svgrepo-com.svg" alt=""/>
		</button>
		<button class="rounded-l bg-zinc-800 text-white font-bold hover:rounded-l hover:scale-110" hx-get="/weekStat?week=lastweek" hx-vals="js:{nonce: Math.random()}" hx-swap="none" hx-select-oob="#echart:innerHTML,#highlight:outerHTML">Last Week</button>
		<button class="rounded-l bg-zinc-800 text-white font-bold hover:rounded-l hover:scale-110" id="thisWeekButton" hx-get="/weekStat?week=thisweek" hx-vals="js:{nonce: Math.random()}" hx-swap="none" hx-select-oob="#echart:innerHTML,#highlight:outerHTML">This Week</button>
		<button class="rounded-l bg-zinc-800 text-white font-bold hover:rounded-l hover:scale-110" hx-get="/weekStat?week=forward" hx-vals="js:{nonce: Math.random()}" hx-swap="none" hx-select-oob="#echart:innerHTML,#highlight:outerHTML">
			<img class="w-12" src="assets/svg/angle-right-svgrepo-com.svg" alt=""/>
		</button>
		<script>
			document.addEventListener( 'DOMContentLoaded', function ()
			{
				const thisWeekButton = document.querySelector( '#thisWeekButton' );
				if ( thisWeekButton ) {
					thisWeekButton.click();
				}	
			});
		</script>
	</div>
}

templ chartHighlight(appDetails []utils.ApplicationDetail, totalWeekUsage float64, allCategory []utils.Category, anyDay string) {
	<div class="bg-zinc-800 rounded-sm overflow-y-auto min-h-chart-highlight max-h-chart-highlight" id="highlight" hx-swap-obb="true">
		<ul class="p-0 m-0 w-99% list-none">
			for _, app := range appDetails {
				<li
					tabindex="10"
					hx-get={ string(templ.URL("/appStat?range=week&appName=" + app.AppInfo.AppName + "&start=" + anyDay)) }
					hx-vals="js:{nonce: Math.random()}"
					hx-swap="none"
					hx-select-oob="#echart:outerHTML"
					class="flex justify-start items-center bg-zinc-800 outline-none text-white rounded-xl pr-1 mr-1 focus:text-black focus:bg-teal-700 focus:shadow-lg focus:scale-90 transition"
				>
					if app.AppInfo.IsIconSet {
						<img src={ getImageFilePath(app.AppInfo.AppName, app.AppInfo.Icon) } alt={ app.AppInfo.AppName } class="h-12 rounded-md"/>
					} else {
						<img src="/assets/image/noAppImage.jpg" alt="noImage" class="h-12 rounded-md"/>
					}
					<div class="flex flex-col ml-4">
						<div class="font-bold text-lg appName">{ app.AppInfo.AppName }</div>
						<div class="desktopCategories" hidden>{ strings.Join(app.AppInfo.DesktopCategories, "  ") }</div>
						if app.AppInfo.IsCategorySet && app.AppInfo.Category.String() != "" {
							<button disabled class="category min-w-full rounded-sm bg-zinc-800 text-white text-left">{ app.AppInfo.Category.String() }</button>
						} else {
							if utils.IsInCurrentWeekDate(utils.Date(anyDay)) {
								<button class="category min-w-full rounded-md bg-zinc-400 text-white text-left" onclick="openCategoryDialog(event)">Selct application catergory</button>
								@setCategoryDialog(allCategory)
							}
						}
					</div>
					if percentageUse := utils.PercentagesString(app.Usage, totalWeekUsage); percentageUse == "NaN" {
						<div class="appStat ml-auto italic">0% of weeks usage</div>
					} else {
						<div class="appStat ml-auto italic">{ percentageUse } of weeks usage: { utils.UsageTimeInHrsMin(app.Usage) }</div>
					}
				</li>
			}
		</ul>
		<script>
			function openCategoryDialog(event) {
				const trigger = event.target.parentElement.parentElement; // the li
				const triggerIconElement = trigger.querySelector('img');
				const icon = triggerIconElement.getAttribute('src');
				const appName = trigger.querySelector('.appName').innerHTML;
				const desktopCategories = trigger.querySelector('.desktopCategories').innerHTML;

				event.stopPropagation();

				// build the modal dialog
				const dialog = document.getElementById('categoryDialog');
				const imgElement = dialog.querySelector('form .head img');
				const headerClassParagraph = dialog.querySelector('form .head p');
				const dialogLegend = dialog.querySelector('form legend');
				const dialogHiddenInput = dialog.querySelector('form fieldset+input');
				const dialogDesktopCategoriesClass = dialog.querySelector('form div+div');
				imgElement.setAttribute('src', icon);
				imgElement.setAttribute('alt', appName);
				dialogHiddenInput.setAttribute('value', appName);
				headerClassParagraph.innerHTML = `<b>${appName}</b>`
				dialogLegend.innerHTML = `Select a category for ${appName}:`
				
				if (desktopCategories === '' || desktopCategories.trim() === '') {
					dialogDesktopCategoriesClass.style.display = 'none';
				} else {
					dialogDesktopCategoriesClass.innerHTML = `Application file category(s):\n${desktopCategories}`;
				}

				// show the modal dialog
				dialog.showModal();
			};
		</script>
	</div>
}

templ setCategoryDialog(allCategory []utils.Category) {
	<dialog class="select-category" id="categoryDialog">
		<form method="post" action="/setCategory">
			<div class="head">
				<p></p>
				<img src="" alt=""/>
			</div>
			<div class="desktop-categories">"</div>
			<fieldset>
				<legend></legend>
				for _, catergory := range allCategory {
					<div>
						<input
							type="radio"
							name="category"
							value={ catergory.String() }
						/>
						<label for={ catergory.String() }>{ catergory.String() }</label>
					</div>
				}
			</fieldset>
			<input type="hidden" name="appName" value=""/>
			<p class="space">
				OR
			</p>
			<p class="info">Create a new category in the Settings and update it here.</p>
			<div class="button-container">
				<button type="submit">Set category</button>
				<button class=".close-modal" formmethod="dialog">Close</button>
			</div>
		</form>
		<script>
			const setCategoryDialog = document.getElementById('categoryDialog');
			setCategoryDialog.addEventListener('click', (e) => e.stopPropagation());
		</script>
	</dialog>
}
