package frontend

import "utils"

templ TasksPage(allApps []utils.AppIconCategoryAndCmdLine) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/assets/styles/output.css"/>
			<link rel="stylesheet" href="/assets/styles/dd.min.css"/>
			<script src="/assets/javascript/script.out.js"></script>
			<script src="/assets/libraries/htmx.min.js"></script>
			<script src="assets/libraries/hyperscript.min.js"></script>
			<script src="/assets/libraries/dd.min.js"></script>
			<title>ScreenTime</title>
		</head>
		<body class="m-0 p-0 h-full font-serif overflow-hidden">
			<div class="flex w-full">
				@sideBarMenu()
				@reminderAndLimitPage()
			</div>
		</body>
		@reminderAndLimitDialog(allApps)
	</html>
}

templ reminderAndLimitPage() {
	<div class="w-full bg-zinc-800">
		@header()
		@reminderAndLimitHeaderSection()
		<div class="max-h-max min-h-task-page bg-slate-800">
			@RenderTasks(templ.NopComponent)
		</div>
	</div>
}

templ RenderTasks(taskType templ.Component) {
	<div id="task-holder">
		@taskType
	</div>
}

templ reminderAndLimitDialog(allApps []utils.AppIconCategoryAndCmdLine) {
	@reminderDialog()
	@limitDialog(allApps)
}

templ reminderAndLimitHeaderSection() {
	<div class="h-12 sticky top-0 z-10 bg-zinc-500 text-white mb-1 rounded-md flex gap-8">
		<div class="inline-flex justify-start items-center w-1/2 cursor-pointer">
			<h2 class="m-0 p-0 w-full text-center hover:scale-90 font-bold text-lg" hx-get="/reminders" hx-swap="none" hx-select-oob="#task-holder:outerHTML " _="on load trigger click on me">Reminder</h2>
			<button
				class=" w-11 h-11 rounded-md cursor-alias bg-white rounded-r"
				title="add new reminder task"
				_="on click call showReminderDialog()"
			>
				<img
					src="assets/svg/add2.svg"
					class="h-8 w-10"
				/>
			</button>
		</div>
		<div class="inline-flex justify-start items-center w-1/2 cursor-pointer">
			<h2 class="m-0 p-0 w-full text-center hover:scale-90 font-bold text-lg" hx-get="/limits" hx-swap="none" hx-select-oob="#task-holder:outerHTML">App Limit</h2>
			<button
				class="w-11 h-11 rounded-md cursor-alias bg-white items-center"
				title="add new app limit"
				_="on click js document.querySelector('.limit-dialog').showModal() end"
			>
				<img
					class="h-8 w-10"
					src="assets/svg/add2.svg"
				/>
			</button>
		</div>
	</div>
}

templ limitDialog(allApp []utils.AppIconCategoryAndCmdLine) {
	<dialog class="limit-dialog h-30vh bg-slate-400 items-center p-4 w-30vh rounded-md backdrop-blur-sm">
		<form id="limit-form">
			<select
				name="app"
				is="ms-dropdown"
				data-enable-auto-filter="false"
				required
			>
				<option
					value=""
					data-description="select app to limit"
				>Apps</option>
				for _, app := range allApp {
					<option value={ app.AppName } data-image={ getImageFilePath(app.AppName, app.Icon) } data-description={ app.Category.String() }>{ app.AppName }</option>
				}
			</select>
			<div class="mb-4 flex justify-between">
				<input
					type="number"
					name="hrs"
					min="0"
					max="23"
					placeholder="in Hrs; 0 - 23"
					class="mt-4 w-32 h-8"
					focus
				/>
				<input
					type="number"
					name="min"
					min="0"
					max="59"
					placeholder="in Mins; 0 - 59"
					class="mt-4 w-32 h-8"
				/>
			</div>
			<div class="mb-4 flex justify-between">
				<div>
					<input
						type="checkbox"
						name="recurring"
						value="true"
						checked
					/>
					<label
						for="sound-notification-first"
					>Everyday</label>
				</div>
				<div>
					<input
						type="checkbox"
						name="exitApp"
						value="true"
					/>
					<label for="sound-notification-first" class="italic">
						Exit
						app
					</label>
				</div>
			</div>
			<div class="button-container flex justify-between">
				<button
					type="submit"
					hx-post="/newLimit"
					hx-trigger="submit"
					hx-swap="none"
					hx-select-oob="#task-holder:outerHTML"
					_="on submit js document.querySelector('.limit-dialog').close() end"
					formmethod="dialog"
					class="p-2.5 text-lg bg-teal-800 text-white border-none rounded-md cursor-pointer"
				>Create Limit</button>
				<button _="on click get the first .limit-dialog then call it.close()" class="p-2.5 text-lg bg-teal-800 text-white border-none rounded-md cursor-pointer">Close</button>
			</div>
		</form>
	</dialog>
}

templ reminderDialog() {
	<dialog class="reminder-dialog w-3/4 bg-zinc-400 text-black rounded-md backdrop-blur-sm">
		<form
			formmethod="dialog"
			class="px-3"
			hx-post="/newReminder"
			hx-trigger="submit"
			hx-swap="none"
			hx-select-oob="#task-holder:outerHTML"
			_="on submit js document.querySelector('.reminder-dialog').close() end"
		>
			<div class="titles w-full inline-flex justify-between">
				<div class="form-pair flex flex-col">
					<label for="add-title" class="mb-1.5 italic text-lg">Title:</label>
					<input
						type="text"
						name="title"
						minlength="4"
						maxlength="35"
						placeholder="minimun of 4 words"
						class="p-1.5 text-sm mb-2.5"
						required
					/>
				</div>
				<div class="form-pair flex flex-col">
					<label for="add-subtitle" class="mb-1.5 italic text-lg">Subtitle:</label>
					<input
						type="text"
						name="subtitle"
						maxlength="50"
						class="p-1.5 text-sm mb-2.5"
						placeholder="optional"
					/>
				</div>
			</div>
			<div class="reminder-time w-full inline-flex justify-between flex-wrap">
				<div class="combine flex justify-between items-center">
					<div class="form-pair flex flex-col">
						<label for="set-reminder" class="mb-1.5 italic text-lg">Set your reminder:</label>
						<input
							type="datetime-local"
							name="reminder"
							max={ FormatTimeTOHMTLDatetimeLocal(nextTwoWeeks()) }
							class="p-1.5 text-sm mb-2.5"
						/>
					</div>
					<div class="alert">
						<input
							type="checkbox"
							name="soundNotification"
							value="true"
							checked
						/>
						<label for="sound-notification-reminder" class="mb-1.5 italic text-lg">
							<img
								src="assets/svg/bell.svg"
								alt="Notification Icon"
								class="w-4"
							/>
						</label>
					</div>
				</div>
				<div class="combine flex justify-between items-center">
					<div class="form-pair flex flex-col">
						<label for="add-notification__first" class="mb-1.5 italic text-lg">
							First
							notification
							(Mins):
						</label>
						<input
							type="number"
							name="firstNotification"
							min="0"
							max="10"
							value="10"
							class="p-1.5 text-sm mb-2.5"
						/>
					</div>
					<div class="alert">
						<input
							type="checkbox"
							name="soundFirstNotification"
							value="true"
							checked
						/>
						<label for="sound-notification-first" class="mb-1.5 italic text-lg">
							<img
								src="assets/svg/bell.svg"
								alt="Notification Icon"
								class="w-4"
							/>
						</label>
					</div>
				</div>
				<div class="combine flex justify-between items-center">
					<div class="form-pair flex flex-col">
						<label for="add-notification__second" class="mb-1.5 italic text-lg">
							Second
							notification
							(Mins):
						</label>
						<input
							type="number"
							name="secondNotification"
							min="0"
							max="10"
							value="5"
							class="p-1.5 text-sm mb-2.5"
						/>
					</div>
					<div class="alert">
						<input
							type="checkbox"
							name="soundSecondNotification"
							value="true"
							checked
						/>
						<label for="sound-notification-second" class="mb-1.5 italic text-lg">
							<img
								src="assets/svg/bell.svg"
								alt="Notification Icon"
								class="w-4"
							/>
						</label>
					</div>
				</div>
				<div class="out">
					<div class="form-pair flx flex-col">
						<label for="site-search" class="mb-1.5 italic text-lg">
							App to be
							launched:
						</label>
						<input
							type="search"
							name="app"
							list="app-list"
							value="no-app"
							class="p-1.5 text-sm mb-2.5"
						/>
						<datalist id="app-list">
							<option value="Pizza"></option>
							<option value="Burger"></option>
							<option value="Sushi"></option>
							<option value="Pasta"></option>
							<option value="Salad"></option>
						</datalist>
					</div>
				</div>
			</div>
			<div class="form-pair flex flex-col">
				<label for="add-note" class="mb-1.5 italic text-lg">Include Note:</label>
				<textarea
					name="note"
					rows="3"
					cols="1"
					placeholder="optional"
					class="p-1.5 text-sm mb-2.5"
				></textarea>
			</div>
			<div class="button-container flex justify-between py-4">
				<button class="p-2.5 text-lg bg-teal-800 text-white border-none rounded-md cursor-pointer" type="submit">Create Reminder</button>
				<button class="close-modal p-2.5 text-lg bg-teal-800 text-white border-none rounded-md cursor-pointer" formmethod="dialog" formnovalidate>Close</button>
			</div>
		</form>
		<script type="text/javascript">
			function getLocalDateTime() {
				const now = new Date();
				const timeZoneOffset = now.getTimezoneOffset() * 60000;
				const localDateTime = new Date(now.getTime() - timeZoneOffset);
				return localDateTime.toISOString().slice(0, 16);
			}

			function showReminderDialog() {
				const dateTimeInput = document.querySelector('input[type="datetime-local"]');
				dateTimeInput.value = getLocalDateTime();
				dateTimeInput.min = getLocalDateTime();

				document.querySelector('.reminder-dialog').showModal();
			}
		</script>
	</dialog>
}
