package publiccomponent

templ UpperPart() {
	<div class="upper-part">
		<pre id="ascii-art">
			{ getRandomArt() }
		</pre>
		<a href="#" class="button">
			<img src="assets/svg/no_5_settings.svg" alt="" class="icon"/>
		</a>
		<a href="#" class="button">
			<img src="assets/svg/no_6_logout.svg" alt="" class="icon"/>
		</a>
	</div>
}
