:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    font-style: system-ui, sans-serif;
}

.icon {
    width: 50px;
    height: 35px;
    margin-right: 8px;
}

.page {
    border: 4px groove black;
    height: 100vh;
    display: grid;
    grid-template-columns: 15rem 1fr;
}

.menu-bar {
    padding-top: 3.5rem;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.focus-bar {
    background-color: #303030;
    display: flex;
    flex-direction: column;
}

.hold-animation {
    background-color: #303030;
    flex: 0 0 4rem;
    padding: 0 10px;
    position: relative;
}

.hold-animation::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-bottom: 1px solid rgb(194, 179, 179);
    width: calc(100% - 30px);
}

.nav-bar {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav-bar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.nav-bar li a {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    color: white;
    display: block;
    padding: 15px 15px;
    line-height: initial;
}


a:focus,
li:focus {
    color: black;
    background-color: #198686;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.5s ease-in;
}

a:not(:focus),
li:not(:focus) {
    background-color: initial;
    transition: background-color 0.5s ease-out;
}

a:hover,
li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
}

a:hover:focus,
li:hover:focus {
    background-color: #33b9b9;
}

.upper-part {
    background-color: #363636;
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
}

.upper-part pre {
    margin-right: auto;
    padding: 0%;
    /* white-space: pre-line; */
}

#ascii-art {
    color: white;
}

.chart-wrapper {
    flex: 1;
    padding: 20px;
    background-color: #060707;
    border-radius: 2%;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

.graph-highlight {
    flex: 1;
    background-color: #198686;
    border-radius: 2%;
}

.hold-animation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-animation {
    background-color: black;
    width: 80%;
    border-radius: 10%;
}

.quote {
    padding: 25px;
    text-align: center;
}

.quote p {
    color: white;
}


#lottie-animation {
    width: 100%;
    height: 100%;
}

.button {
    padding: 10px;
}

.button:hover {
    transform: scale(1.1);
}

.button:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.hidden,
.narrow {
    display: none;
}

@media (max-width: 700px) {
    .button {
        display: none;
    }

    .hidden {
        display: inherit;
    }

    .page {
        grid-template-columns: 0.5fr 1fr;
    }
}

@media(max-width: 550px) {

    .wide,
    .hidden,
    .hold-animation {
        display: none;
    }

    .page {
        display: flex;
    }

    .menu-bar {
        flex: 0 0 auto;
    }

    .focus-bar {
        flex: 1;
    }

    .narrow {
        display: inherit;
    }

}



/* .triangle {
    position: absolute;
    left: 100px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #0d6161;
    border-bottom: 10px solid transparent;
    z-index: 1;
    transition: center 0.3s ease;
} */